ErrorDocument 500 /error.html
ErrorDocument 404 /error.html
ErrorDocument 401 /error.html
ErrorDocument 403 /error.html

RewriteEngine on
RewriteRule ^error.html$ - [L]

RewriteCond %{HTTP_HOST} ^flickrtrickle.com
RewriteRule (.*) http://www.flickrtrickle.com/$1 [R=301,L]

RewriteRule ^auth$                      auth.php [L]
RewriteRule ^trickle$                   trickle.php [L]
