RewriteEngine on

RewriteCond %{HTTP_HOST} ^flickrtrickle.com
RewriteRule (.*) http://www.flickrtrickle.com/$1 [R=301,L]

RewriteRule ^auth$                      auth.php [L]
RewriteRule ^trickle$                   trickle.php [L]
