html {
    background-color: #FEFEFE;
}

body { 
    /* I like diveintohtml5's font choices. */
    font: large/1.556 helvetica, 'arial', 'san serif';
    color: #3F3F3F;
}

#container {
    margin: 0 auto;
    width: 630px;
}

h1 {
    font-size: 36px;
}

a {
    color: black;
}

#lefty-loosey {
    width: 405px;
    margin-right: 10px;
    float: left;
}

#righty-tighty {
    width: 190px;
    float: right;
}

img {
    outline: none;
}

#photos {
    border-collapse: collapse;
    border-spacing: 5px;
    line-height:0;
}

#photos img.in-tray {
    opacity: 0.4;
}

#photos td {
    padding: 5px;
    margin: 0;
    vertical-align: middle;
}

#tray {
    width: 415px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #BEBEBE;
    height: 79px;
    position: relative;
}

#tray img.ui-draggable-dragging {
    z-index: 10000;
}

#tray img {
    margin-right: 5px;
    border: 2px solid #BEBEBE;
    position: absolute;
    cursor: pointer;
}

#tray img.active {
    border: 2px solid #fefefe;
}

#tray img:last-child {
    margin-right: 0px;
}

#trickle-it {
    display: block;
    background-color:#317E24;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #fefefe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
}

.imagebank-image {
    cursor: pointer;
}

